/* ------------------------------ filter work -------------------------- */
body {
    color: #fff;
}

.centered {
    text-align: center;
}
#filter-works ul {
    list-style:none;
    padding:0;
    margin:0;
    margin-bottom:20px;
    text-align:center;
}
#filter-works ul li{
    display:inline-block;
    padding:0;
    line-height:24px;
    background:transparent;
    margin:0;
    margin-left:5px;
    margin-bottom:10px;
}
#filter-works ul li a{
    display:block;
    font-size:17px;
    font-weight:300;
    letter-spacing: 1px;
    padding:10px 20px;
    border-radius:5px;
    border:2px solid transparent;
    -webkit-transition:all .2s ease-out;
    transition:all .2s ease-out;
}
#filter-works ul li a,
#filter-works ul li a:active,
#filter-works ul li a:hover{
    line-height:24px;
    background:#fff;
    color:#4E5961;
    text-decoration:none;
}
#filter-works ul li a:hover,
#filter-works ul li.active a{
    color:#fff;
    background:#2C3E50;
}

header {
    background: url('../img/welcome.jpg') no-repeat fixed center center cover transparent; 
    margin-top: -5.5%;
}

#services {
    background-color: rgb(23,194,164);
}

#services p {
    font-size: 12pt
}

.margin-btm-5 {
    margin-bottom: 5%;
}

.dark-text {
    color: #2c3e50;
}